* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:rgb(36, 40, 43);
    height: 80px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 5px solid rgb(18, 147, 212);

}

header h1{
    color: white;
}

.multi{
    color: rgb(18, 147, 212);
}

.inicio{
    color: rgb(18, 147, 212);
}

.inicio1{
    color: white;
}

.nosotros{
    color: white;
}

.nosotros1{
    color:rgb(18, 147, 212);
}

.servicios{
    color: white;
}

.contacto{
    color: white;
}

.tituloMenu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 150px;
}


.cajaNav ul{
    display: flex;
    flex-direction: row;
    color: aliceblue;

}

.cajaNav ul li{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 1.2rem;
}

.cajaNav ul a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


/* section 1*/


.section1{
    background: url(../images/cabecera.jpg) 0 -400px;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
}

.section1 h2{
    font-size: 4rem;
}
.section1 p{
    text-align: center;
}

/*  section 2*/

.section2{
    background-color: rgb(36, 40, 43);
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.form1{
    width: 30%;
}

.input1{
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
}

.boton1 {
    background-color: rgb(232, 73, 29);
    color: white;
    width: 34%;
    font-size: 11px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.section21{
    background-color: rgb(36, 40, 43);
    color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.form1{
    width: 30%;
}

.input1{
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
}

.boton1{
    background-color: rgb(232, 73, 29);
    color: white;
    width: 35%;
    font-size: 12px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
}

.input11{
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
}

.boton11{
    background-color: rgb(232, 73, 29);
    color: white;
    width: 35%;
    font-size: 12px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
}

/* section 3 */

.section3{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 2%;
    margin-bottom: 2%;

}

.caja1{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja2{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja3{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja1 img{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 6%;
}

.caja2 img{
    width: 30%;
    margin-bottom: 6%;
}

.caja3 img{
    width: 30%;
    margin-bottom: 6%;
}

.caja1 h3{
    margin-bottom: 6%;
}

.caja2 h3{
    margin-bottom: 6%;
}

.caja3 h3{
    margin-bottom: 6%;
}

footer p {

    background-color: rgb(18, 147, 212);
    display: flex;
    justify-content: center;
    ALIGN-ITEMS: center;
    height: 100PX;
    MARGIN-TOP: 1%;
    color: white;
}

/*  nosotros.html */

.cajaDosSect{
    display: flex;
    flex-direction: row;
    width: 89.5%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    height: 55vh;
    

}

.section4{
    margin-right: 2%;
}

.section5{
    width: 93%;
}

.tituloNosotros{
    font-size: 100%;
    margin: 1%;
}

.pnosotros{
    margin: 1%;
}

.cajano1{
    margin: 1%;
    padding: 3%;
    background-color: rgb(53, 66, 74);
    color: white;
}

.cajano2{
    margin: 1%;
    background-image: url(../images/891.jpg);
    background-size: cover;
    height: 150px;
}

.cajaquehacemos{
    background-color: rgb(53, 66, 74);
    color: white;
    padding: 4%;
    font-size: 15px;
}

/** SERVICIOS **/

.inicio2{
    color: white;
    text-decoration: none;
}
.nosotros2{
    color: white;
}
.servicios2{
    color: rgb(18, 147, 212);
}
.contacto2{
    color: white;
}

.SectionServicios{

    display: flex;
    flex-direction: row;
    width: 89.5%;
    padding-bottom: 5%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    height: 89vh;


}

.cajaServi1{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 150%;
    justify-content: space-between;
    gap: 10px;
}

.cajaServi2{
    width: 80%;
}

.cajaservi11{
    background-color: rgb(230, 230, 230);
}



.precio{
    margin: 5%;
}

.h3ser{
    margin: 2%;
}

.pser{
    margin: 2%;
}

.cajaservi12{
    background-color: rgb(230, 230, 230);
}


.cajaservi13{
    background-color: rgb(230, 230, 230);

}

/*  CONTACTO  */

.inicio3{
    color: white;
    text-decoration: none;
}
.nosotros3{
    color: white;
}
.servicios3{
    color: white;
}
.contacto3{
    color: rgb(18, 147, 212);
}

.SectionesContac{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding: 2%;
    gap: 50px;
    padding-left: 7%;
}

.cajaquehacemos{
    width: 70%;
}

.sectionFormContac{
    margin-right: 50%;
}

.cajaServi22{
    width: 50%;
}

.label{
    font-size: 1.2rem;
    list-style: none;
}

.input2{
    width: 500%;
    height: 40px;

}

.input3{
    width: 500%;
    height: 100px;

}

.button2{
    width: 505%;
    color: white;
    background-color: rgb(232, 73, 29);
    height: 40px;
}
.cajamapa{
    background-image: url(../images/mapaGoogle.png);
    background-size: cover;
    height: 215px;
    width: 77.5%;
    margin-top: 14px;
}


@media screen and (min-width:768px) and (max-width:940px){

    h1{
        font-size: 22px;
    }

    header{
        height: 55px;
    } 
    
    footer p {

        height: 60PX;
        MARGIN-TOP: 1%;
        color: white;
    }

    .tituloMenu{
        height: 80%;
        padding-left: 50px;
        padding-right: 50px;
        gap: 90px;
    }
    
    .cajaNav ul li{
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: 1rem;
    }

    .section1{
        background: url(../images/cabecera.jpg) 0 -100px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-left: 15%;
        padding-right: 15%;
        color: white;
    }
    
    .section1 h2{
        font-size: 2rem;
    }
    .section1 p{
        text-align: center;
        font-size: 3vh;
    }

    
    .section2{
        height: 50px;
    }

    .boton1 {
        background-color: rgb(232, 73, 29);
        color: white;
        width: 40%;
        font-size: 14px;
        height: 42px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form1{
        width: 50%;
    }

    .input1{
        width: 50%;
        height: 30px;
        font-size: 0.8rem;
    }

    .boton1{
        width: 30%;
        font-size: 12px;
        height: 38px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .section2 h2{
        font-size: 20px;
    }

    .section3{

        margin-right: 5%;
        margin-left: 5%;
        padding-top: 2%;
        margin-bottom: 2%;
    
    }
    
    .caja1{
        width: 20%;
    }
    
    .caja2{
        width: 20%;
    }
    
    .caja3{
        width: 20%;
    }
    
    .caja1 img{
        width: 30%;
        margin-top: 1%;
        margin-bottom: 6%;
    }
    
    .caja2 img{
        width: 30%;
        margin-bottom: 6%;
    }
    
    .caja3 img{
        width: 30%;
        margin-bottom: 6%;
    }
    
    .caja1 h3{
        margin-bottom: 6%;
    }
    
    .caja2 h3{
        margin-bottom: 6%;
    }
    
    .caja3 h3{
        margin-bottom: 6%;
    }

    .caja1 p{
        font-size: 13px;
    }
    
    .caja2 p{
        font-size: 13px;
    }
    
    .caja3 p{
        font-size: 13px;
    }

    .section21 h2{
        font-size: 20px;
    }

    .section21{
        height: 60px;
        padding-left: 8%;
        padding-right: 8%;
    }

    .input11{
        width: 50%;
        height: 32px;
        font-size: 1rem;
    }
    
    .boton11{
        width: 30%;
        font-size: 12px;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }


    .cajaDosSect{
        display: flex;
        flex-direction: row;
        width: 89.5%;
        padding-bottom: 1%;
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 0%;
        height: 63vh;
    }
    
    .tituloNosotros{
        font-size: 90%;
        margin: 2%;
    }
    
    .pnosotros{
        margin: 1%;
        font-size: 12px;
    }
    
    .cajano1{
        font-size: 12px;
    }
    
    .cajano2{
        height: 150px;
    }
    
    .cajaquehacemos{
        background-color: rgb(53, 66, 74);
        color: white;
        padding: 4%;
        font-size: 11px;
        width: 87%;
    }


    .SectionServicios{
    
        width: 89.5%;
        padding-bottom: 5%;
        padding-top: 1%;
        padding-left: 6%;
        padding-right: 0%;
        height: 73vh;
    }
    
    .cajaServi1{
        margin-right: 5%;
        width: 180%;
        gap: 0px;
    }

    .cajaServi222{
        width: 100%;
    }
    
    .cajaServi2{
        width: 80%;
    }
    
    .cajaservi11{
        background-color: rgb(230, 230, 230);
    }
    .precio{
        margin: 2%;
        margin-left: 3%;
        font-size: 12px
    }
    
    .h3ser{
        margin: 2%;
        font-size: 14px
    }
    
    .pser{
        margin: 2%;
        font-size: 11px
    }
    
    .cajaservi12{
        background-color: rgb(230, 230, 230);
    }
    
    
    .cajaservi13{
        background-color: rgb(230, 230, 230);
    }


    
    .SectionesContac{
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        padding: 2%;
        gap: 50px;
        padding-left: 12%;
    }
    
    .cajaquehacemos{
        width: 80%;
    }
    
    .sectionFormContac{
        margin-right: 50%;
    }
    
    .cajaServi22{
        width: 50%;
    }
    
    .label{
        font-size: 1rem;
        list-style: none;
    }
    
    .input2{
        width: 350%;
        height: 30px;
    
    }
    
    .input3{
        width: 350%;
        height: 100px;
    
    }
    
    .button2{
        width: 355%;
        color: white;
        background-color: rgb(232, 73, 29);
        height: 35px;
    }
    .cajamapa{
        background-image: url(../images/mapaGoogle.png);
        background-size: cover;
        height: 150px;
        width: 87%;
        margin-top: 14px;
    }

}